// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }

  :-moz-placeholder {
    @content
  }

  ::-moz-placeholder {
    @content
  }

  :-ms-input-placeholder {
    @content
  }
}

@mixin w-font-inlude($name, $path, $weight:normal, $style:normal) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    src: url($path +'.eot');
    src: url($path +'.eot?#iefix') format('embedded-opentype'), url($path +'.woff') format('woff'), url($path +'.ttf') format('TrueType')
  }
}

