// Font
$mainFont : 'Montserrat',
Helvetica,
Arial,
sans-serif;

// Size
$mainFontColor : #000000;

$grey_plash : #F2F1F1;


$mainFontSize : 16px;
$mainFontWeight : 400;
$mainLineHeight : 1.4;

$containerWidth: 1020px;

$desktopWidth : 1440px;
$desktopPadding : 0 35px;

$smDesktopWidth : 980px;
$smDesktopPadding : 0 25px;

$tableWidth : 768px;
$tablePadding : 0 15px;

$phoneWidth : 480px;
$phonePadding : 0 10px;

$smPhoneWidth : 320px;

