section#about
  .sub__anchor О нас
  .container
    .yasno__title
      .yasno__title_prefix Издательский дом
      h1  «Ясно Publishing»
    p Создан на базе известных медийных проектов для обеспеченной образованной аудитории. Среди наших изданий - Men's Health, National Geographic, Women's Health, Агроинвестор. Мы выпускаем как печатные издания, так и цифровые версии - для веба, для планшетов и телефонов. В Издательский дом также входит подразделение Go! Publishing - один из лидеров корпоративной прессы в России.
    .info__counts-wrapper
      .info__count
        .info__count_title 5 000 0000
        p уникальных пользователей в месяц
      .info__count
        .info__count_title 2 000 0000
        p подписчиков в соцсетях
      .info__count
        .info__count_title 20
        p оффлайн-мероприятий в месяц