.footer_margin
footer
  .wrapper
    .row
      .logo
        img(src='/assets/img/icons/logo__footer.svg')
      .copy © 2019 Ясно Publishing <br>  Все права защищены.
    .row
      .footer_title ЯСНО PUBLISHING
      .footer_menu
        a(href='#').footer_link О нас
        a(href='#').footer_link Проекты
        a(href='#').footer_link Новые выпуски
        a(href='#').footer_link Спецпроекты
        a(href='#').footer_link Читать онлайн
    .row
      .footer_title следить за новостями
      .footer_menu
        a(href='#').footer_link Mы в Facebook
        a(href='#').footer_link RSS
        .footer_link E-mail рассылка
      form.footer_form
        input(placeholder='E-mail', name='email', type='email' required)
        button(type='submit') OK
    .row
      .bug_info ООО «Ясно Publishing»<br>  ОГРН 1157746144467<br>  ИНН/КПП 7704306823/771501001<br>  Название банка АО «Райффайзенбанк»<br>  БИК 044525700 Р/счет 40702810100000003650 <br>  К/счет 30101810200000000700<br>   127018, г. Москва, <br>  ул. Полковая, д. 3, стр. 1 <br>  +7 (495) 232-92-92









