.grey__wrapp.grey__wrapp-issue#new
  .wrapper
    .sub__anchor Новые выпуски
    .slider__issue
      .issue
        a(href='#').issue__img
          img(src='/assets/img/journ6.png')
        a(href='#').issue__title Агроинвестор
        .issue__date 04.19
      .issue
        a(href='#').issue__img
          img(src='/assets/img/journ6.png')
        .issue__title Агротехника и технологии
        .issue__date 04.19
      .issue
        a(href='#').issue__img
          img(src='/assets/img/journ6.png')
        a(href='#').issue__title Агроинвестор
        .issue__date 04.19
      .issue
        a(href='#').issue__img
          img(src='/assets/img/journ6.png')
        a(href='#').issue__title National Geographic Россия
        .issue__date 03-04.19
      .issue
        a(href='#').issue__img
          img(src='/assets/img/journ6.png')
        a(href='#').issue__title Агроинвестор
        .issue__date 04.19
      .issue
        a(href='#').issue__img
          img(src='/assets/img/journ6.png')
        a(href='#').issue__title Агроинвестор
        .issue__date 04.19
