.grey__wrapp.grey__wrapp-new_issue
  .wrapper
    .sub__anchor Новые выпуски
    .new__issues.container
      .new__issue
        .new__issue_img
          img(src='/assets/img/journ6.png')
        .new__issue_content
          .new__issue_data
            span №145
            | 04.19
          .btn.new__issue_btn Подробнее
          .btn.btn-red Купить номер
      .new__issue
        .new__issue_img
          img(src='/assets/img/journ6.png')
        .new__issue_content
          .new__issue_data
            span №145
            | 04.19
          .btn.new__issue_btn Подробнее
          .btn.btn-red Купить номер
      .new__issue
        .new__issue_img
          img(src='/assets/img/journ6.png')
        .new__issue_content
          .new__issue_data
            span №145
            | 04.19
          .btn.new__issue_btn Подробнее
          .btn.btn-red Купить номер

