.popup.popup__buy
  .popup__content
    .product__helper Товар добавлен в корзину.
    .item__journal
      .item__journal_img
        img(src='/assets/img/journ6.png')
      .item__journal_content
        .item__journal_title National Geographic Россия
        .item__journal_number_date <span>№188</span> (Апрель 2019)
    .popup__btn
      .btn.btn-red Оплатить и скачать
      button.btn.popup__close Вернуться
