.popup__mobile.popup__mobile_menu
  .popup__mobile_header
    .logo
      img(src='/assets/img/icons/logo.svg')
    button.closeIcon.close__popup__mobile
  .popup__mobile_nav.anchors
    a(href='#about').link__active О нас
    a(href='#projects') Проекты
    a(href='#new') Новые выпуски
    a(href='#specials') Спецпроекты
    a(href='#specials') Читать онлайн
    a(href='#specials') Контакты
    a(href='#specials') Личный кабинет