.popup__mobile.popup__mobile_socials
  .popup__mobile_header
    .socials
      a(href='#')
        img(src='/assets/img/icons/socials/fb.svg')
      a(href='#')
        img(src='/assets/img/icons/socials/vk.svg')
      a(href='#')
        img(src='/assets/img/icons/socials/inst.svg')
      a(href='#')
        img(src='/assets/img/icons/socials/twit.svg')
      a(href='#')
        img(src='/assets/img/icons/socials/ok.svg')
    button.closeIcon.close__popup__mobile