section.section-project#projects
  .sub__anchor Проекты
  .container
    .journals.journals-left
      .journal__info
        h3.journal__info_title NATIONAL GEOGRAPHIC РОССИЯ
        p.journal__info_description Cамое известное научно-популярное географическое издание в мире. Главные темы: наука, путешествия, природа, приключения. Отдельный раздел посвящен читателям, увлекающимся фотографией.
        .journal__btns
          a(href='#').btn О проекте
          a(href='#').btn.btn-red Читать онлайн
      .journal__obloj
        .journal__obloj_front
          img(src='/assets/img/journ1.png')
        .journal__obloj_absolute
          .monik__obloj_project
            img(src='/assets/img/logo.jpg')
          img(src='/assets/img/monik_main.png')
    .journals.journals-right.journals-middle
      .journal__info
        h3.journal__info_title NATIONAL GEOGRAPHIC РОССИЯ
        p.journal__info_description Cамое известное научно-популярное географическое издание в мире. Главные темы: наука, путешествия, природа, приключения. Отдельный раздел посвящен читателям, увлекающимся фотографией.
        .journal__btns
          a(href='#').btn О проекте
          a(href='#').btn.btn-red Читать онлайн
      .journal__obloj.journal__obloj_front_single_oblj
        .journal__obloj_front
          img(src='/assets/img/journ2.png')
    .journals.journals-right
      .journal__info
        h3.journal__info_title NATIONAL GEOGRAPHIC РОССИЯ
        p.journal__info_description Cамое известное научно-популярное географическое издание в мире. Главные темы: наука, путешествия, природа, приключения. Отдельный раздел посвящен читателям, увлекающимся фотографией.
        .journal__btns
          a(href='#').btn О проекте
          a(href='#').btn.btn-red Читать онлайн
      .journal__obloj
        .journal__obloj_front
          img(src='/assets/img/journ3.png')
        .journal__obloj_absolute
          .monik__obloj_project
            img(src='/assets/img/logo.jpg')
          img(src='/assets/img/monik_main.png')
    .journals.journals-left
      .journal__info
        h3.journal__info_title NATIONAL GEOGRAPHIC РОССИЯ
        p.journal__info_description Cамое известное научно-популярное географическое издание в мире. Главные темы: наука, путешествия, природа, приключения. Отдельный раздел посвящен читателям, увлекающимся фотографией.
        .journal__btns
          a(href='#').btn О проекте
          a(href='#').btn.btn-red Читать онлайн
      .journal__obloj
        .journal__obloj_front.journal__obloj_front_single-mon
          .monik__obloj_project
            img(src='/assets/img/logo.jpg')
          img(src='/assets/img/monik_main.png')
.journals.journals-middle.journals-double
  .journal__info
    h3.journal__info_title агроинвестор
    p.journal__info_description Cамое известное научно-популярное географическое издание в мире.  Главные темы: наука, путешествия, природа, приключения. Отдельный раздел посвящен читателям, увлекающимся фотографией.
    .journal__btns
      a(href='#').btn О проекте
      a(href='#').btn.btn-red Читать онлайн
  .journal__obloj.journal__obloj-middle.journal__obloj-trio
    .journal__obloj_absolute
      img(src='/assets/img/journ5.png')
    .journal__obloj_front.journal__obloj_left
      .monik__obloj_project
        img(src='/assets/img/logo.jpg')
      img(src='/assets/img/monik_main.png')
    .journal__obloj_front.journal__obloj_right
      img(src='/assets/img/journ6.png')
  .journal__info
    h3.journal__info_title агроинвестор
    p.journal__info_description Cамое известное научно-популярное географическое издание в мире.  Главные темы: наука, путешествия, природа, приключения. Отдельный раздел посвящен читателям, увлекающимся фотографией.
    .journal__btns
      a(href='#').btn О проекте
      a(href='#').btn.btn-red Читать онлайн
.journals.journals-right.journals-middle
  .journal__info
    h3.journal__info_title NATIONAL GEOGRAPHIC РОССИЯ
    p.journal__info_description Cамое известное научно-популярное географическое издание в мире. Главные темы: наука, путешествия, природа, приключения. Отдельный раздел посвящен читателям, увлекающимся фотографией.
    .journal__btns
      a(href='#').btn О проекте
      a(href='#').btn.btn-red Читать онлайн
  .journal__obloj
    .journal__obloj_front.journal__obloj_front_single-mon
      .monik__obloj_project
        img(src='/assets/img/logo.jpg')
      img(src='/assets/img/monik_main.png')
