.wrapper#specials
  .sub__anchor.sub__anchor-margin спецпроекты
  .grid__special__project
    - for (var x = 0; x < 9; x++)
      .special__project
        .special__project_details
          .special__project_description Ежегодный конкурс.  Его читают в 35 странах, а российское издание уже больше 20 лет обращается к активным и успешным мужчинам, которым важно физическое, профессиональное, ментальное и эмоциональное здоровье. Men's Health – это о том, что значит быть мужчиной.
          a(href='').btn.special__project_more Детали проекта
        .special__project_img
          img(src='/assets/img/special__project/1.jpg')
          .special__project_bottom
            .special__project_tags nat geo  |    suzuki
            .special__project_title Что делал Suzuki Vitara, когда ты родился
  a(href='').btn.mt30 Все спецпроекты