extends ../layout/main

block variables
  - var title = 'archive страница'
  - var pageClass = 'archive-page'


block content
  .archive.container
    h2  архив NATIONAL GEOGRAPHIC РОССИЯ
    .archive__content

      .archive__date
        a(href='#').archive__date-active 2019
        a(href='#') 2018
        a(href='#') 2017
        a(href='#') 2016
        a(href='#') 2015
        a(href='#') 2014
        a(href='#') 2013
        a(href='#') 2012
        a(href='#') 2011
        a(href='#') 2010
        a(href='#') 2009
        a(href='#') 2008
        a(href='#') 2007
        a(href='#') 2006
        a(href='#') 2005
        a(href='#') 2004
        a(href='#') 2003
      .archive__journals
        .archive__journal
          .archive__journal_img
            img(src='/assets/img/journ6.png')
          .archive__journal_content
            .archive__journal_data
              span №145
              | 04.19
            button.btn.btn_more Подробнее
            a(href='#').btn.btn-download Скачать номер
        .archive__journal
          .archive__journal_img
            img(src='/assets/img/journ6.png')
          .archive__journal_content
            .archive__journal_data
              span №145
              | 04.19
            button.btn.btn_more Подробнее
            a(href='#').btn.btn-download Скачать номер
        .archive__journal
          .archive__journal_img
            img(src='/assets/img/journ6.png')
          .archive__journal_content
            .archive__journal_data
              span №145
              | 04.19
            button.btn.btn_more Подробнее
            button.btn.btn-red.add__product Купить номер
        .archive__journal
          .archive__journal_img
            img(src='/assets/img/journ6.png')
          .archive__journal_content
            .archive__journal_data
              span №145
              | 04.19
            button.btn.btn_more Подробнее
            a(href='#').btn.btn-download Скачать номер
        .archive__journal
          .archive__journal_img
            img(src='/assets/img/journ6.png')
          .archive__journal_content
            .archive__journal_data
              span №145
              | 04.19
            button.btn.btn_more Подробнее
            a(href='#').btn.btn-download Скачать номер












