extends ../layout/main

block variables
  - var title = 'contacts страница'
  - var pageClass = 'contacts-page'


block content
  .container.container__confirmation_contacts.container_mini
    .yasno__title
      .yasno__title_prefix Издательский дом
      h1  «Ясно Publishing»
    h5  Адрес и телефон
    p 127018, Москва, ул. Полковая, 3, стр. 1
    p +7 (495) 232-92-92 доб. 2000
    h5  РЕКВИЗИТЫ
    p ООО «Ясно Publishing»
    p ОГРН 1157746144467
    p ИНН/КПП 7704306823/771501001
    p Название банка АО «Райффайзенбанк»
    p БИК 044525700
    p Р/счет 40702810100000003650
    p К/счет 30101810200000000700