extends ../layout/main

block variables
  - var title = 'Issue страница'
  - var pageClass = 'issue-page'


block content
  .storages
    .storage
      .container
        .storage__header
          .storage__title NATIONAL GEOGRAPHIC РОССИЯ
          .btn.btn-red Читать онлайн
        .storage__content
          a(href='#').storage__logo
            img(src='/assets/img/icons/storage/ngr.svg')
          .storage__journals
            a(href='#')
              img(src='/assets/img/journ3.png')
            a(href='#')
              img(src='/assets/img/journ1.png')
            a(href='#')
              img(src='/assets/img/journ2.png')
            a(href='#')
              img(src='/assets/img/journ5.png')
            a(href='#')
              img(src='/assets/img/journ6.png')
        .storage__mobile_btn
          .btn.btn-red Читать онлайн
    .storage
      .container
        .storage__header
          .storage__title NATIONAL GEOGRAPHIC traveler
          .btn.btn-red Читать онлайн
        .storage__content
          a(href='#').storage__logo
            img(src='/assets/img/icons/storage/ngt.svg')
          .storage__journals
            a(href='#')
              img(src='/assets/img/journ3.png')
            a(href='#')
              img(src='/assets/img/journ1.png')
            a(href='#')
              img(src='/assets/img/journ2.png')
            a(href='#')
              img(src='/assets/img/journ5.png')
            a(href='#')
              img(src='/assets/img/journ6.png')
        .storage__mobile_btn
          .btn.btn-red Читать онлайн
    .storage
      .container
        .storage__header
          .storage__title men’s health
          .btn.btn-red Читать онлайн
        .storage__content
          a(href='#').storage__logo
            img(src='/assets/img/icons/storage/mh.svg')
          .storage__journals
            a(href='#')
              img(src='/assets/img/journ3.png')
            a(href='#')
              img(src='/assets/img/journ1.png')
            a(href='#')
              img(src='/assets/img/journ2.png')
            a(href='#')
              img(src='/assets/img/journ5.png')
            a(href='#')
              img(src='/assets/img/journ6.png')
        .storage__mobile_btn
          .btn.btn-red Читать онлайн
    .storage
      .container
        .storage__header
          .storage__title агроинвестор
          .btn.btn-red Читать онлайн
        .storage__content
          a(href='#').storage__logo
            img(src='/assets/img/icons/storage/ag.svg')
          .storage__journals
            a(href='#')
              img(src='/assets/img/journ3.png')
            a(href='#')
              img(src='/assets/img/journ1.png')
            a(href='#')
              img(src='/assets/img/journ2.png')
            a(href='#')
              img(src='/assets/img/journ5.png')
            a(href='#')
              img(src='/assets/img/journ6.png')
        .mobile_btn_bad_dis
          .btn.btn-red Читать онлайн
    .storage
      .container
        .storage__header
          .storage__title агротехника и технологии
          .btn.btn-red Читать онлайн
        .storage__content
          a(href='#').storage__logo
            img(src='/assets/img/icons/storage/agt.svg')
          .storage__journals
            a(href='#')
              img(src='/assets/img/journ3.png')
            a(href='#')
              img(src='/assets/img/journ1.png')
            a(href='#')
              img(src='/assets/img/journ2.png')
            a(href='#')
              img(src='/assets/img/journ5.png')
            a(href='#')
              img(src='/assets/img/journ6.png')
        .storage__mobile_btn
          .btn.btn-red Читать онлайн








