.container__confirmation_contacts{
  padding: 66px 0;
  .yasno__title h1{
    font-size: 60px;
  }
  h5{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
  }

}